$--font-path: '~element-ui/lib/theme-chalk/fonts';


@import "~element-ui/packages/theme-chalk/src/index";

// .el-radio {
//   margin-right: 14px;
// }

.collapseMine {
  border: none;
}

.el-collapse-item__content {
  padding-bottom: 0;
}